body {
  background-color: blanchedalmond;
  font-size: 120%;
}

nav {
  background-color: darkorange;
  padding: 1em;
  text-align: center;
}

nav a {
  padding: 0em 2em;
}

#title {
  text-align: center;
}

#container {
  width: 70%;
  margin: 2em auto;
}

#image {
  text-align: center;
}

.intro {
  width: 70%;
  margin: auto;
  text-align: center;
}

.section {
  width: 70%;
  margin: 2em auto;
  padding: 2em;
  border-style: ridge;
  border-width: .5em;
}

.section#parking {
  background-color: tomato;
  border-color: orange;
}

.section#parking h1 {
  text-align: center;
}

.section#restaurant {
  background-color: orange;
  border-color: silver;
}

.section#hotel {
  background-color: sandybrown;
}

.name-logo {
  text-align: center;
}

.image {
  text-align: center;
}

.image#hotel {
  margin-top: 1em;
}
