body {
  background-color: blanchedalmond;
  font-family: Georgia, serif;
}

nav {
  background-color: darkorange;
  padding: 1em;
  text-align: center;
}

nav a {
  padding: 0em 2em;
}

#banner {
  text-align: center;
}

.images {
  width: 75%;
  margin: auto;
}

.intro {
  width: 70%;
  margin: auto;
  text-align: center;
}

.section {
  width: 70%;
  margin: 2em auto;
  padding: 2em;
  border-style: ridge;
  border-width: .5em;
}

.section#parking {
  background-color: tomato;
  border-color: orange;
}

.section#parking h1 {
  text-align: center;
}

.section#restaurant {
  background-color: orange;
  border-color: silver;
}

.section#hotel {
  background-color: sandybrown;
}

.section#schedule {
  background-color: darkorange;
}

.name-logo {
  text-align: center;
}

.image {
  text-align: center;
}

.image#hotel {
  margin-top: 1em;
}

.image#left {
  display: inline-block;
  float: left;
  margin: 1em;
}

.image#right {
  display: inline-block;
  float: right;
  margin: 1em;
}

@media only screen and (max-width: 600px) {
  .image {
    display: none;
  }
  .image#map, .image#parking {
    display: block;
  }
  .image#map img, .image#parking img {
    width: 300px;
  }
  .name-logo img {
    display: none;
  }
}
